Repository RevisarAI/RevisarAI, pull requests merged in 2024-07, with the labels that each got.

#95 use metadata instead of mongoose
  backend/src/models/weekly-action-items.ts
  reviews-receiver/config.ts
Labels: bug, backend

#96 Improve openai GPT Prompts
  action-items-generator/src/consumer.ts
  backend/src/controllers/review.controller.ts
  frontend/src/components/reviews/ReviewReply.tsx
  reviews-loader/src/consumer.ts
  reviews-receiver/src/db.ts
Labels: enhancement, backend

#103 Hotfix/parse gpt review analysis
  backend/src/controllers/api-key.controller.ts
  backend/src/routes/api-key.router.ts
  backend/src/routes/api.route.ts
  reviews-loader/src/consumer.ts
  shared-types/schemas.ts
  shared-types/types.ts
Labels: bug, backend

#104 fix schema, remove businessId
  reviews-receiver/src/controllers/batch.controller.ts
  reviews-receiver/src/routes/batch.router.ts
  shared-types/schemas.ts
  shared-types/types.ts
Labels: bug, backend

#98 27 create panel weekly action items
  backend/src/controllers/action-items.controller.ts
  backend/src/controllers/review.controller.ts
  backend/src/routes/action-items.route.ts
  backend/src/routes/api.route.ts
  frontend/src/components/panels/actionitems/ActionItemReason.tsx
  frontend/src/components/panels/actionitems/ActionItemsTable.tsx
  frontend/src/components/panels/actionitems/WeeklyActionItemsPanel.css
  frontend/src/components/panels/actionitems/WeeklyActionItemsPanel.tsx
  frontend/src/components/skeletons/ActionItemSkeleton.tsx
  frontend/src/pages/home/index.tsx
  frontend/src/services/action-items-service.ts
  reviews-loader/src/consumer.ts
  shared-types/schemas.ts
Labels: enhancement, frontend
